<!-- This is the index.html or the base page -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GRAPE CHOICE</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- CSS stylesheet -->
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css" media="screen">

</head>

<body>
  <!-- Start of Header -->
  <header>
    <div class="col-md-12 jumbotron text-center" style="background-image: url('../static/images/purple_header.png')">
      <h1 style="color: white;">grape choice</h1>
      <p style="color: white;">_______________________________________</p>
      <h2 style="color: whitesmoke;">Project Overview</h2>
      <header>
        <img src="../static/images/logo_v8.png" alt="Logo">
        <div class=credit> Image by Bloodlinewolf </div>
      </header>
  </header>
  <!-- Start of Navigation -->
  <nav>
    <ul>
      <li><a href="index.html">PROJECT OVERVIEW</a></li>
      <li><a href="dashboard.html">DASHBOARD</a></li>
      <li><a href="our_team.html">OUR TEAM</a></li>
      <li><a href="https://github.com/clangstonhinton/grape_choice">GITHUB REPO</a></li>
    </ul>
  </nav>
  <!-- Start of container -->
  </div>
  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-7 col-md-12"> -->
      <div class="col-md-8">
        <div class="box" style="padding-bottom: 5px;">
          <h3 class="title">Project Overview</h3>
          <hr>
          <p>
            We have all on occasion been tasked with the chore of selecting a bottle of wine for a house-warming gift or
            holiday party and found ourselves overwhelmed by the sheer volume of options on the shelf!
            So we set out to build a wine selection dashboard to make it easier for the occasional wine drinker to find a great wine. 
          </p>
          <p> 
            The dashboard will display the Top 10 rated wines based on user inputs for price range and varietal preference. Additionally, the dashboard will generate a graph depicting the Top 50 wines ranked by price and a 'streaming' chart showing the number of wines by country.
          </p>
          <p> 
            We hope you enjoy the dashboard and your next  <span
            class="highlight">grape choice!</span>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <!-- <div class="box", id="image-on-right", src="assets/images/wine_barn_table_square.png"></div> -->
        <br>
        <br>
        <br>
        <img id="image-on-the-right" src="../static/images/wine_barn_table_square.png">

      </div>
      <!-- Footer -->
      <footer class="footer" style="text-align: center;">
        <span class="bottom">&copy; Copyright Data Viz-Wizards 2023</span>
      </footer>

</body>

</html>